<div class="clearfix"></div>
<section id="ban2">
    <div class="container">
        <div class="row"> 
            <img src="{{ assets:page_banner limit='1' }}{{ url }}{{ /assets:page_banner }}" class="banner-bg img-responsive" />
            <div>
                <h1>{{ title }}</h1> 
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>

<section id="mangatar">
    <div class="container wrap">
        <div class="row" style="margin:auto;">
            {{ page_content }}
        </div>
    </div>
</section>