<footer id="footer">
	<div class="container wrap-f">
	  	<div class="row clearfix">
	        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-left full">
				<h4>Company Info</h4>
	    		<ul class="list-unstyled">
					<li><a href="/characters">Characters</a></li>
					<li><a href="/careers">Careers</a></li>
					<li><a href="/locations">Contact Us</a></li>
					<li><a href="/locations">Locations</a></li>
					<li><a href="/markets">Markets</a></li>
	            </ul>
	        </div>

	        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-left full">
			<h4>Customer Resources</h4>
	    		<ul class="list-unstyled">
					<li><a href="/customers">Get an Instant Quote</a></li>
					<li><a href="/customers">Download Forms</a></li>
					<li><a href="https://www.securevcheck.com/?id=yatesassoc" target="_blank">Make a Payment</a></li>
	            </ul>
	        </div>



	        	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left full quote-box">
				<h4>Instant Quote</h4>
	    		<ul class="list-unstyled">
					<li class="get"><a href="#">By Phone | East & West Coasts: (855) 689-6151 | Texas: (844) 5008-1072</a></li>
					<li class="get"><a href="#">Monday-Friday 6a-7p CST, Saturday 8a-12p CST</a></li>
	            </ul>
				<div class="clearfix"></div>
				<div class="online">
					Online quote available 24/7
				</div>
				<div class="">
					<button href="#" type="submit" class="btn btn-default get-now">Get Now</button>
				</div>
	        </div>

		</div>
	    <hr>
	    <div class="row clearfix">
	    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
	    		<p>c {{ today format='Y' }} {{ site_name }} <a href="{{ site_url }}terms-of-service" class="pl20">Terms of Service.</a></p>
	        </div>
		</div>
	</div>
</footer>